
.issue-card__container {
  background-color: #eee;
}


.issue-card__close-button {
  float: right;
}

.issue-card__section {
  margin: 20px;
}

.issue-card__pre-header {
  margin-bottom: 10px;
}

.issue-card__pre-header > span {
  margin-right: 20px;
}


.issue-card__main-header {
  margin-bottom: 10px;
}

.issue-card__attachment-list {
  margin-top: 10px;
  img { height: 40px; margin-right: 10px;}
}